<div class="menu">
    <div class="bg"></div>
    <div class="bg2"></div>

    <div class="container">
        <div id="left" t>
            <h1>Seja bem-vindo!</h1>
            <p>Uma simples agenda de contatos escrita em Ruby Rails...</p>
        </div>

        <div id+"right">
            <ul>
                <li>
                    <img src=<%="#{image_url('attach_file-24px.svg')}" %> alt="icon">
                    <span>
                        <strong><%= link_to "TIPOS", kinds_path %></strong>
                        <p>Aqui você registra os tipos de contato...</p>
                    </span>
                </li>
                <li>
                    <img src=<%="#{image_url('contacts-24px.svg')}" %> alt="icon">
                    <span>
                        <strong><%= link_to "CONTATOS", contacts_path %></strong>
                        <p>Aqui você registra todos os seus contatos...</p>
                    </span>
                </li>
            </ul>
        </div>

    </div>
</div>